@model IEnumerable<SistemaDeEventos.DAL.Evento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LimiteVagas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoriaEventoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEventoStatusNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LimiteVagas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoriaEventoNavigation.NomeCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEventoStatusNavigation.NomeStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEvento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEvento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEvento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
